#new_github_issue_dialog{:title => "New Issue"}
  #new_github_issue_form_container
    = render "github_issues/issues/form"
= link_to "new issue", "#", :id => "new_github_issue_link", :class => "dark_github_issue_link"
