a#new_github_issue_link {
  display: block;
  position: fixed;
  top: 30%;
  left: 0;
  height: 141px;
  width: 49px;
  text-indent: - 10000px;
  background: url("btn_new_issue.png") no-repeat;
}

a.dark_github_issue_link {
  background-position: 0 -141px !important;
}
