@charset "utf-8";

/*
 *= require_self
 */

// @import "compass";
// @import "blueprint";

@import "_jqueryui";

body {
  background: #efefef;
  color: #555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
}

h1 {
  color: #000;
}

#parent {
  margin: 30px auto;
  padding: 20px;
  width: 540px;
  font-size: 105%;
  background: #fff;
  border: 1px solid #dedede;
}

