<!DOCTYPE html>
<html>
<head>
  <title>GithubIssues</title>
  <%= stylesheet_link_tag    "github_issues/application" %>
  <%= javascript_include_tag "github_issues/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
